:root {
    --btn-bg-red: rgba(255, 0, 0, .5);
    --btn-bg-lightred: rgba(255, 0, 0, .7);
    --text-white: #fff;
}


.br-bottom {
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 1) 50%, rgba(255, 0, 0, 0.2));
}

.input-group-text {
    background-color: var(--btn-bg-red);
    color: rgba(255, 255, 255);
    width: 7.19rem;
}

.btn-red {
    background-color: var(--btn-bg-red);
    color: #fff;
}

.btn-red:hover {
    background-color: rgba(255, 0, 0, .4);
    color: #fff;
}

.btn-red:focus {
    background-color: rgba(255, 0, 0, .4) !important;
    color: #fff !important;
}

.btn-redlight {
    background-color: var(--btn-bg-lightred);
    color: #fff;
}

.btn-redlight:hover {
    background-color: rgba(255, 0, 0, .6);
    color: #fff;
}

.btn-redlight:focus {
    background-color: rgba(255, 0, 0, .6) !important;
    color: #fff !important;
    ;
}

.bg-red {
    background-color: #ffcbcb8f;
}

body {
    background-color: #eee;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 24px;
}

.img-links
{
    position: fixed;
    top:0;
    z-index: -100;
}

.dropdown-menu {
    background-color: transparent!important;
    /* Transparante achtergrond */
    border: 2px solid red!important;
    /* Zwarte rand */
    box-shadow: none!important;
    /* Geen schaduw */
    color: white!important;
    margin-right: 15px !important;
    padding: 10px !important;

}

@media screen and (max-width: 576px) {
    .input-group {
        flex-direction: column !important;
        margin-bottom: .3rem !important;
    }

    .input-group-text {
        width: 100% !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
    }

    .form-control {
        border-radius: 0 !important;
        width: 100% !important;
        margin: 0 !important;
        height: auto !important;
    }

    .card {
        margin-bottom: 0.6rem !important;
        margin-left: 0.2rem !important;
    }

    .center-small-top {
        width: 100% !important;
        margin-top: 50% !important;
        margin-left: 0 !important;
        transform: translate(0, 0) !important;
    }

}

@media screen and (min-width: 576px) {
    .w-md-50 {
        width: 50% !important;
    }

    .w-md-auto {
        width: auto !important;
    }
}

.taskbar {
    background-color: #000; /* Zwart */
    color: #fff; /* Wit */
    padding: 1rem;
}

.taskbar h2 {
    color: #fff;
}

.taskbar .form-check-label {
    color: #fff;
}

.taskbar input[type="checkbox"] {
    accent-color: red;
}

.taskbar input[type="date"] {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

.taskbar .btn-primary {
    background-color: red;
    border: none;
}

.taskbar .btn-primary:hover {
    background-color: #ff4d4d;
}

.taskbar img {
    width: 10rem;
    margin-bottom: 1rem;
}

.taskbar section {
    margin-bottom: 1rem;
}  
